* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  font-weight: 100;
  background-color: rgb(31, 44, 99);
}

.row {
  background-color: rgb(76, 76, 201);
}

header {
  width: 100vw;
  flex-wrap: wrap;
  height: 100px;
  background-color: rgb(24, 34, 126);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  margin-left: 30px;
}
header .red {
  color: red;
}
header ul {
  flex-direction: row;
  display: flex;
  list-style: none;
  align-items: center;
}
header ul a {
  margin-right: 25px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.col-md-8 {
  width: 100%;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
.col-md-8 .half-1, .col-md-8 .half-2, .col-md-8 .half {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: rgb(177, 224, 209);
  width: 50%;
  height: 50vh;
}
.col-md-8 .half-1 h2, .col-md-8 .half-1 p, .col-md-8 .half-2 h2, .col-md-8 .half-2 p, .col-md-8 .half h2, .col-md-8 .half p {
  padding: 10px;
}
.col-md-8 span {
  font-size: 20px;
}
.col-md-8 .post2 {
  display: flex;
  background-color: rgb(255, 90, 30);
}
.col-md-8 .post1 {
  background-color: rgb(151, 224, 41);
  text-align: end;
}
.col-md-8 .half-1 {
  text-align: end;
  background-color: rgb(211, 38, 38);
}
.col-md-8 .half-2 {
  display: flex;
  background-color: rgb(129, 207, 182);
}
.col-md-8 img {
  width: 100%;
  height: 50vh;
}
.col-md-8 .full {
  display: flex;
  flex-direction: column;
  background-color: rgb(60, 60, 197);
  width: 100%;
  min-height: 15vh;
  max-height: 40vh;
}

.col-md-3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}
.col-md-3 .full {
  margin-top: 20px;
  min-height: 20vh;
  max-height: 70vh;
  margin-left: 20px;
  background-color: white;
}
.col-md-3 .full img {
  width: 100%;
}
.col-md-3 .full h2, .col-md-3 .full p {
  margin: 20px;
}
.col-md-3 .full h2 {
  font-size: 24px;
}

@media only screen and (max-width: 720px) {
  .col-md-8 .half, .col-md-8 .half-1, .col-md-8 .half-2 {
    width: 90%;
    padding: 20px;
  }
  .col-md-8 .half .date-1, .col-md-8 .half-1 .date-1, .col-md-8 .half-2 .date-1 {
    position: absolute;
    text-align: center;
  }
  .col-md-8 .half .date-2, .col-md-8 .half-1 .date-2, .col-md-8 .half-2 .date-2 {
    position: absolute;
    text-align: center;
  }
  .col-md-8 .half h2, .col-md-8 .half-1 h2, .col-md-8 .half-2 h2 {
    text-align: end;
  }
  .col-md-8 {
    display: flex;
    justify-content: center;
  }
  .col-md-8 .half-1 {
    margin-top: 20px;
  }
  .col-md-8 .post1 {
    margin-top: 20px;
  }
  .col-md-8 .full {
    height: 40vh;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  header h1 {
    margin-top: 10px;
  }
  .col-md-3 .post6 {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 720px) {
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer .box1 {
    width: 100%;
  }
  footer .box2 {
    width: 100%;
  }
}
@media only screen and (min-width: 720px) {
  header {
    padding-left: 60px;
    padding-right: 60px;
  }
  .col-md-8 {
    margin-left: 4%;
    padding-top: 20px;
  }
  .col-md-8 .full {
    height: 15vh;
    padding-left: 10px;
  }
  .col-md-8 .date-1 {
    text-align: center;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-bottom: 25%;
  }
  .col-md-8 .date-2 {
    margin-left: 29%;
    position: absolute;
    text-align: center;
    width: 50px;
    height: 50px;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer .box1 {
    padding-top: 10px;
    padding-left: 4%;
    width: 60%;
  }
  footer .box2 {
    text-align: center;
    width: 40%;
  }
}
footer .box2 h3 {
  font-weight: 300;
  padding-top: 10px;
  font-size: 18px;
}
footer .box2 h3 span {
  color: rgb(60, 60, 60);
  font-weight: 700;
}/*# sourceMappingURL=travelblog.css.map */